.projectos-container {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .projectos-header h2 {
    font-size: 19.2px;
    margin-bottom: 10px;
    color: #1E73E8;
  }
  
  .projectos-header p {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
  }
  
  .projecto-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projecto-slide img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .projecto-slide h3 {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #333;
  }
  